---
import { HR } from "@components/_common/HR"
import WikiLink from "@components/_common/WikiLink.astro"
---

<!-- Changelog Head -->
<h2 id="9-16-2025">September 16th, 2025</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>
          <code>/changelog</code> is not a redirect anymore.
        </p>
      </li>
      <li>
        <p>
          Fixed all links to <WikiLink page="Shipyard" /> to match Azur Lane English
          Wiki.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>Fixed a typo; Cube RNG is due to Commissions, not OpSi.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>
          Added <WikiLink page="Aichi B7A Ryuusei Kai">Ryuusei Kai</WikiLink> (Torpedo
          Bomber, +13), and adjusted descriptions of other Torpedo Bombers to compensate.
        </p>
      </li>
      <li>
        <p>
          Added equipment from <WikiLink
            page="Research Academy#Series"
            title="Research Academy (Series 8)">Research Series 8</WikiLink
          > to their respective guides.
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Quadruple 305mm (SK C39 Prototype)"
                >Prototype Quadruple 305mm SKC39 Main Gun Mount</WikiLink
              >
              (BB Guns, Plus13)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Triple 180mm (Improved B-1-P Pattern 1932)"
                >Prototype Triple 180mm B-1-P Model 1932 (Impr.) Main Gun Mount</WikiLink
              >
              (CL Guns, Main Fleet Aux Guns)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Prototype Triple 283mm/54 Main Gun Mount"
                >Prototype Triple 283mm/54.5 Main Gun Mount</WikiLink
              >
              (CB Guns, Plus13)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Triple 406mm/45 (Mk 7 Prototype)"
                >Prototype Triple 406mm/45 MK7 Main Gun Mount</WikiLink
              >
              (BB Guns)
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added <WikiLink page="Bouquet of Tulips">Bouquet of Tulips</WikiLink> (DD
          Auxiliary).
        </p>
      </li>
      <li>
        <p>
          Added equipment from <WikiLink
            page="The Alchemist and the Tower of Horizons"
          /> (DD Auxiliary, Cruiser Auxiliary, IX Auxiliary).
        </p>
      </li>
      <li>
        <p>
          Fixed icon for <WikiLink page="Fairey Gannet"
            >Fairey Gannet (ASW)</WikiLink
          >.
        </p>
      </li>
      <li>
        <p>
          Fixed rarity color for <WikiLink page="Aviation Materials (Cargo)" />.
        </p>
      </li>
      <li>
        <p>Updated <WikiLink page="Gear Lab" /> guide:</p>
        <ul>
          <li>
            <p>
              Removed <WikiLink page="Triple_203mm_(BL_8%22_Mk_X_Prototype)"
                >Prototype Triple 203mm Mk X Main Gun Mount</WikiLink
              >, <WikiLink page="Triple 203mm (SK C/34 Prototype)"
                >Prototype Triple 203mm SK C/34 Main Gun Mount</WikiLink
              >, <WikiLink page={`Triple 152mm (BL 6\" Mk XXV Prototype)`}
                >Prototype Triple 152mm Mk XXV Main Gun Mount
              </WikiLink>, <WikiLink
                page={`Triple 152mm (6"/47 Mk 17 DP Prototype)`}
                >Prototype Triple 152mm DP Mk 17 Main Gun Mount
              </WikiLink>, <WikiLink page="Quadruple 380mm (Mle 1935)"
                >Quadruple 380mm Mle 1935 Main Gun Mount
              </WikiLink>, <WikiLink page="Curtiss XSB3C (Experimental)"
                >Experimental XSB3C-1
              </WikiLink>.
            </p>
          </li>
          <li>
            <p>
              Added <WikiLink page="Twin 135mm (Model 1938)"
                >135mm Twin Main Gun Mount Model 1938
              </WikiLink>, <WikiLink page="Twin 203mm (Mle 1931)"
                >Twin 203mm Mle 1931 Main Gun Mount
              </WikiLink>.
            </p>
          </li>
          <li>
            <p>
              Slightly increased priority of <WikiLink
                page="Triple 305mm (SK C/39 Prototype)"
                >Prototype Triple 305mm SK C/39 Main Gun (CB Gun).</WikiLink
              >
            </p>
          </li>
          <li>
            <p>
              Slightly decreased priority of <WikiLink page="Bréguet Br.810"
                >Bréguet BR.810</WikiLink
              >, added note saying you can get this in <WikiLink
                page="Core Data Shop"
              /> instead.
            </p>
          </li>
          <li>
            <p>Readjusted CA Gun priority based on aforementioned changes.</p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>
          Added note that <WikiLink page="Universe in Unison" /> / <WikiLink
            page="Crescendo of Polaris"
            title="Passionate Polaris">Passionate Polaris</WikiLink
          >
          are fine to farm if you don't have access to Chapter 9 yet.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>Added ships from <WikiLink page="A Dance for Amahara Above" />.</p>
      </li>
      <li>
        <p>Added ships from <WikiLink page="Secrets of the Abyss" />.</p>
      </li>
      <li>
        <p>Added ships from <WikiLink page="The Neon City Investigator" />.</p>
      </li>
      <li>
        <p>
          Added ships from <WikiLink
            page="Shipyard#Series 8"
            title="Shipyard (Series 8)">Research (Series 8)</WikiLink
          >.
        </p>
      </li>
      <li>
        <p>
          Added ships from <WikiLink
            page="The Alchemist and the Tower of Horizons"
            >The Alchemist and the Tower of Horizons (Atelier Yumia
            Collaboration)</WikiLink
          >.
        </p>
      </li>
      <li>
        <p>
          Added <WikiLink page="Dunkerque META" />, <WikiLink
            page="Yuudachi META"
          />.
        </p>
      </li>
      <li>
        <p>
          Added an endgame fleetbuilding section, which links to external guides
          about endgame content.
        </p>
      </li>
      <li>
        <p>Added justification on ship positionings within a standard fleet.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleet Technology:</h5>
    <ul>
      <li>
        <p>
          Added <WikiLink page="Shipyard#Series 8" title="Shipyard (Series 8)"
            >Research (Series 8)</WikiLink
          > thresholds to their respective categories.
        </p>
      </li>
      <li>
        <p>Renamed "NP" --&gt; "SN".</p>
      </li>
      <li>
        <p>Added ships from <WikiLink page="Rondo at Rainbow's End" />.</p>
      </li>
      <li>
        <p>Added ships from <WikiLink page="Aquilifer's Ballade" />.</p>
      </li>
      <li>
        <p>Added ships from <WikiLink page="Virtual Tower" />.</p>
      </li>
      <li>
        <p>
          Added <WikiLink page="I-404" />, <WikiLink
            page="Essex"
            title="Essex (Retrofit)">Essex (Retrofit)</WikiLink
          > to Cross-fleet Effects.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>Mentioned good YouTubers in the Newbie Tips section:</p>
        <ul>
          <li>
            <p>
              <a
                href="https://www.youtube.com/@JimmyAL"
                target="_blank"
                rel="noopener noreferrer">Jimmy (@JimmyAL)</a
              > - Gameplay
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://www.youtube.com/@Suchiguma"
                target="_blank"
                rel="noopener noreferrer">Suchiguma (@Suchiguma)</a
              > - Gameplay
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://www.youtube.com/@GuardianEPlays"
                target="_blank"
                rel="noopener noreferrer">GuardianE (@GuardianEPlays)</a
              > - Game News
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>
          Added ships from <WikiLink
            page="Shipyard#Series 8"
            title="Shipyard (Series 8)">Research (Series 8)</WikiLink
          >.
        </p>
      </li>
      <li>
        <p>
          Added <WikiLink
            page="Triple_380mm_(Mle_1935_Prototype)"
            title="Prototype Triple 380mm Mle 1935 Main Gun Mount"
            >Prototype Triple 380mm Mle 1935 Main Gun Mount</WikiLink
          > to Prototype Shop priority; adjusted <WikiLink
            page="Triple 406mm (Mle 1938 Prototype)"
            title="Prototype Triple 406mm /50 Main Gun Mount"
            >Prototype Triple 406mm /50 Main Gun Mount</WikiLink
          > amounts to compensate.
        </p>
      </li>
      <li>
        <p>Reorganized intra-season ship priority.</p>
      </li>
      <li>
        <p>Added PR6 Catch-up prints and Prototype Core.</p>
      </li>
      <li>
        <p>Improved wording in Catch-up min-maxing section.</p>
      </li>
      <li>
        <p>Linked to Farming Guide in PR EXP Farming section.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>Added ships from <WikiLink page="A Dance for Amahara Above" />.</p>
      </li>
      <li>
        <p>Added ships from <WikiLink page="Secrets of the Abyss" />.</p>
      </li>
      <li>
        <p>Added ships from <WikiLink page="The Neon City Investigator" />.</p>
      </li>
      <li>
        <p>
          Added ships from <WikiLink
            page="Shipyard#Series 8"
            title="Shipyard (Series 8)">Research (Series 8)</WikiLink
          >.
        </p>
      </li>
      <li>
        <p>
          Added ships from <WikiLink
            page="The Alchemist and the Tower of Horizons"
            >The Alchemist and the Tower of Horizons (Atelier Yumia
            Collaboration)</WikiLink
          >.
        </p>
      </li>
      <li>
        <p>
          Added <WikiLink page="Dunkerque META" />, <WikiLink
            page="Yuudachi META"
          />.
        </p>
      </li>
      <li>
        <p>Updated missing Samvaluation text.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Added Coin disclaimer for Supply Shop.</p>
      </li>
      <li>
        <p>Reorganized <WikiLink page="Core Data Shop" /> priority:</p>
        <ul>
          <li>
            <p>
              Removed "Low Priority" section; "Medium Priority" section renamed
              to "Situationally Useful".
            </p>
          </li>
          <li>
            <p>
              Moved <WikiLink page="Bréguet Br.810">Bréguet BR.810</WikiLink> and
              <WikiLink page="Independence" /> to just above Cognitive Chips / Arrays
              in High Priority.
            </p>
          </li>
          <li>
            <p>
              Moved <WikiLink page="Type 93 Pure Oxygen Torpedo" /> and <WikiLink
                page="Funkmess-Ortung 25 Radar">FuMO 25</WikiLink
              > to bottom of "Situationally Useful".
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <ul>
      <li>
        <p>
          Added disclaimer about <WikiLink
            page=""
            title="Azur Lane English Wiki">Azur Lane English Wiki</WikiLink
          > being an amazing tool.
        </p>
      </li>
      <li>
        <p>Added section on how to make tools about Azur Lane.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="6-22-2025">June 22th, 2025</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>
          Added new guide covers for Common Resource Guide, Equipment Guide,
          Newbie Tips, courtesy of <b>@huntersherwin (Chemy)</b> on the ECGC Discord!
        </p>
      </li>
      <ul>
        <li>
          <p>
            Some of these covers were added last update, but I forgot to mention
            them.
          </p>
        </li>
      </ul>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Fixed broken links to earlier sections in the guide in the "Fleet
          Composition" sections for Campaign and OpSi.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>
          Clarified that permanent UR pity is not acquired on event banners that
          have a rate-up UR ship.
        </p>
      </li>
      <li>
        <p>
          Added note that Universe in Unison / Passionate Polaris are fine to
          farm if you don't have access to Chapter 9 yet.
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="6-10-2025">June 10th, 2025</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>
          Overhauled and refactored Website code to use Astro. There are slight
          UI changes as a result.
        </p>
      </li>
      <li>
        <p>Ship data is now automatically drawn from MrLar's AzurLaneData.</p>
      </li>
      <li>
        <p>Improved page size and margins.</p>
      </li>
      <li>
        <p>
          Riceist is now a Former Guide Writer. Obviously, he will still be
          helping with ECGC intermittently whenever he feels like it. All guides
          going forward will be written solely by me (Samheart564), with
          consulting from various sources around the community until further
          notice.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>
          Table now changed to Modals. Click on an item to see its locations and
          amounts.
        </p>
      </li>
      <li>
        <p>
          Added sorting filters; total amounts are now seen as an icon note.
        </p>
      </li>
      <li>
        <p>
          Locations are now in classified under 3 distinct categories (Daily,
          Farming, Shops), and renamed as needed.
        </p>
        <ul>
          <li>
            <p>Moved "Academy" under "Daily."</p>
          </li>
          <li>
            <p>
              Expanded "Missions" to cover a more content (ex. Login Rewards,
              Commander Handbook, etc.).
            </p>
          </li>
          <li>
            <p>
              Split "Map Drop" into specific locations (Campaign, Hard Mode,
              Event); moved under "Farming."
            </p>
          </li>
          <li>
            <p>Event Point Milestone Rewards added; included under "Event."</p>
          </li>
          <li>
            <p>
              Operation Siren Exchange Shop moved under OPSI section; OPSI
              section included under "Farming."
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Early Ship Recommendations:</h5>
    <ul>
      <li>
        <p>
          Adjusted ship descriptions & notes based on <WikiLink
            page="Commander Handbook"
          />.
        </p>
      </li>
      <li>
        <p>Added section about permanent URs (redirects to newbie tips).</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>
          Added equipment from <WikiLink page="Letters from Valley Hospital" /> and
          later to their relevant sections.
        </p>
      </li>
      <li>
        <p>Reorganized existing equipment due to new equipment being added.</p>
      </li>
      <li>
        <p>Updated locations for all equipment.</p>
      </li>
      <li>
        <p>Fixed typos and incorrect icons.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>Fixed typos & formatting.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from <WikiLink page="Ode of Everblooming Crimson" /> and later
          to their relevant sections.
        </p>
      </li>
      <li>
        <p>
          Added augments from <WikiLink page="Ode of Everblooming Crimson" /> and
          later to their relevant sections.
        </p>
      </li>
      <li>
        <p>Automated ship role classification; changed roles as necessary.</p>
        <ul>
          <li>
            <p>Ships can now fall under multiple different roles.</p>
          </li>
          <li>
            <p>
              Ships within a role are sorted by how good they are at that role.
            </p>
          </li>
          <li>
            <p>
              "Off-Flag BB" and "Damage CV" are merged into "Damage Dealer."
            </p>
          </li>
          <li>
            <p>
              Supports are now generalized into Offensive and Defensive Support;
              you have to read skills for yourself to judge them.
            </p>
          </li>
          <li>
            <p>
              "Mob Main Tank" and "Boss Main Tank" are now "SuperTank" and
              "Tank".
            </p>
          </li>
          <li>
            <p>Separated "AA Carry", "AA", and "ASW" from "Support."</p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Fast Load ships section now lists condition for fast load within the
          ship cell.
        </p>
      </li>
      <li>
        <p>
          Submarine Fleet Composition section now lists if a SS / IXs has a
          Unique Augment module.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleet Technology:</h5>
    <ul>
      <li>
        <p>
          Added ships made permanent since <WikiLink
            page="Ode of Everblooming Crimson"
          /> and later to their relevant sections.
        </p>
      </li>
      <li>
        <p>
          Lowered thresholds for existing ships based on newer ships being
          added.
        </p>
      </li>
      <li>
        <p>Slightly improved table formatting and sorting.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleet Technology:</h5>
    <ul>
      <li>
        <p>
          Added ships made permanent since <WikiLink
            page="Ode of Everblooming Crimson"
          /> and later to their relevant sections.
        </p>
      </li>
      <li>
        <p>
          Lowered thresholds for existing ships based on newer ships being
          added.
        </p>
      </li>
      <li>
        <p>Slightly improved table formatting and sorting.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>
          Reorganized and added sections due to <WikiLink
            page="Commander Handbook"
          />.
        </p>
        <ul>
          <li>
            <p>Changed "Gacha" to "Gacha advice"; moved it higher.</p>
          </li>
          <li>
            <p>
              Expanded "Basic Fleetbuilding" drastically to include more
              Commander Handbook missions (ex. Skill Upgrades, Submarine Fleet,
              Hyper-Leveling, Retrofitting, etc.).
            </p>
          </li>
          <li>
            <p>
              Added "Commander Handbook UR" to "Permanent UR Pity is a TRAP!"
              section.
            </p>
          </li>
          <li>
            <p>Added "War Archives" section to "Push Campaign."</p>
          </li>
          <li>
            <p>Added "Augment Module & Gear Lab" section to "Gear."</p>
          </li>
          <li>
            <p>Added "Upcoming Events & Resources" section.</p>
          </li>
        </ul>
      </li>
      <li>
        <p>Fixed capitalization / formatting in heading names.</p>
      </li>
      <li>
        <p>Changed Ship Cells to Ship Modals.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Added Series 6 Catch-up.</p>
      </li>
      <li>
        <p>Improved formatting.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluation:</h5>
    <ul>
      <li>
        <p>Overhauled page UI drastically.</p>
        <ul>
          <li>
            <p>Changed layout from event-based to a grid of ship modals.</p>
          </li>
          <li>
            <p>Added filters; icon note dynamically changes based on filter.</p>
          </li>
          <li>
            <p>
              Draws data from Mebot's <a
                href="https://docs.google.com/spreadsheets/d/1HF6_hLEB8m_v0stp4DLGnIoDjgojvo7fjYz-cysjTMc"
                target="_blank"
                rel="noopener noreferrer"
                title="by Mebot"
                aria-label="EHP V3 by Mebot"
              >
                EHP V3
              </a>, Suchiguma's <a
                href="https://docs.google.com/spreadsheets/d/13YbPw3dM2eN6hr3YfVABIK9LVuCWnVZF0Zp2BGOZXc0/edit?gid=0#gid=0"
                target="_blank"
                rel="noopener noreferrer"
                title="by Suchiguma and his team"
                aria-label="Rankings for End Game Azur Lane (by Suchiguma)"
              >
                Rankings for End Game Azur Lane
              </a> to dynamically adjust roles and rankings.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from <WikiLink page="Ode of Everblooming Crimson" /> and later
          to their relevant sections.
        </p>
      </li>
      <li>
        <p>
          Added augments from <WikiLink page="Ode of Everblooming Crimson" /> and
          later to their relevant sections.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>
          Replaced <WikiLink page="Chang Chun" /> with <WikiLink
            page="Tai Yuan"
          /> in Guild Shop priority.
        </p>
      </li>
      <li>
        <p>Added <WikiLink page="Kazagumo" /> to Medal Shop priority.</p>
      </li>
      <li>
        <p>
          Added equipment made permanent in shops from <WikiLink
            page="Ode of Everblooming Crimson"
          />
          and later to their relevant sections.
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<h2 id="3-20-2025">March 20th, 2025</h2>
<HR />
<ul>
  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>
          Added equipment from <WikiLink page="Ode of Everblooming Crimson" />
          and later to their relevant sections.
        </p>
      </li>
      <li>
        <p>Reorganized existing equipment due to new equipment being added.</p>
      </li>
      <li>
        <p>Updated locations for all equipment.</p>
      </li>
      <li>
        <p>Fixed typos and incorrect icons.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<h2 id="1-1-2025">
  What happened between the previous update and these updates?
</h2>

<p>
  I (the author of the guides) was very busy with my personal life, and the
  refactoring of this website. As such, the site was not updated in these 9
  months. Thank you for sticking with ECGC through these difficult times, and I
  will try to update more often in the future!
</p>
<br />
