---
import { HR } from "@components/_common/HR"
import WikiLink from "@components/_common/WikiLink.astro"
---

<!-- Changelog Head -->
<h2 id="6-10-2025">June 10th, 2025</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Overhauled and refactored Website code to use Astro.</p>
      </li>
      <li>
        <p>Improved page size and margins.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Common Resource Guide:</h5>
    <ul>
      <li>
        <p>
          Table now changed to Modals. Click on an item to see its locations and
          amounts.
        </p>
      </li>
      <li>
        <p>
          Added sorting filters; total amounts are now seen as an icon note.
        </p>
      </li>
      <li>
        <p>
          Locations are now in classified under 3 distinct categories (Daily,
          Farming, Shops), and renamed as needed.
        </p>
        <ul>
          <li>
            <p>Moved "Academy" under "Daily."</p>
          </li>
          <li>
            <p>
              Expanded "Missions" to cover a more content (ex. Login Rewards,
              Commander Handbook, etc.).
            </p>
          </li>
          <li>
            <p>
              Split "Map Drop" into specific locations (Campaign, Hard Mode,
              Event); moved under "Farming."
            </p>
          </li>
          <li>
            <p>Event Point Milestone Rewards added; included under "Event."</p>
          </li>
          <li>
            <p>
              Operation Siren Exchange Shop moved under OPSI section; OPSI
              section included under "Farming."
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment Guide:</h5>
    <ul>
      <li>
        <p>
          Added equipment from <WikiLink page="Ode of Everblooming Crimson" /> and
          later.
        </p>
      </li>
      <li>
        <p>Reorganized existing equipment due to new equipment being added.</p>
      </li>
      <li>
        <p></p>
      </li>
    </ul>
  </li>
</ul>
<br />
