# Build outputs
dist/
out/
build/

# Generated types and caches
.astro/
.wrangler/
.cache/
*.tsbuildinfo

# Dependencies
node_modules/

# Virtual environments
.venv/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
_.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment variables
.env
.env.production
.env.development.local
.env.test.local
.env.local

# Coverage and testing
coverage/
*.lcov
.nyc_output/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db

# Secrets and configs
credentials.json
credentials.json.base64
tokens.json
config.json

# Archives and temp
*.tgz
*.swp
*.bak
*.tmp

# Other
_backup
.eslintcache