---
import { Image } from "astro:assets"

import WikiLink from "@components/_common/WikiLink.astro"

import EquipmentLinkButtons from "./EquipmentLinkButtons.astro"
---

<h2 id="introduction">Introduction</h2>
<hr class="custom-hr" />
<p>
  This guide gives a comprehensive overview of the best equipment in Azur Lane!
</p>
<br />

<h4>Notes:</h4>
<ul>
  <li>
    <p>You can click on an image to open it in a new tab.</p>
  </li>
  <li>
    <p>
      If the images are not loading, consider using one of the alternative links
      listed below:
    </p>
  </li>
</ul>
<br />

<EquipmentLinkButtons />
<br />

<h2 id="legend">Legend</h2>
<hr class="custom-hr" />

<h3 id="ship_types">Ship Type Abbreviations</h3>
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Ship_Type_Abbrev..jpeg"
  title="Ship Type Abbreviations"
>
  <img class="equip_misc_img" src="images/equip_misc/Ship_Type_Abbrev..jpeg" />
</a>
<br />
<br />

<h3 id="ammo_types">Ammo Type Abbreviations</h3>
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Gen._Ammo_Overview.jpeg"
  title="Ammo Type Abbreviations"
>
  <img class="equip_misc_img" src="images/equip_misc/Gen._Ammo_Overview.jpeg" />
</a>
<br />
<br />

<h3 id="glossary">Guide Glossary</h3>
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Glossary.jpeg"
  title="Glossary"
>
  <img class="equip_misc_img" src="images/equip_misc/Glossary.jpeg" />
</a>
<br />
<br />
<br />

<h2 id="priority_guides">Priority Guides</h2>
<hr class="custom-hr" />

<h3 id="gear_lab">Gear Lab Priority</h3>
<p>
  Optimal gear to craft in
  <WikiLink page="Gear Lab">Gear Lab</WikiLink>.
</p>
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Gear_Lab_Priority.jpeg"
  title="Gear Lab Priority"
>
  <img class="equip_misc_img" src="images/equip_misc/Gear_Lab_Priority.jpeg" />
</a>
<br />

<ul>
  <li>
    <p>
      <b>Do NOT craft more gear than you need.</b>
    </p>
  </li>
</ul>
<br />

<h3 id="plus13">+13 Priority</h3>
<p>Optimal gear to enhance to +13.</p>
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/+13_Priority.jpeg"
  title="Gear Lab Priority"
>
  <img class="equip_misc_img" src="images/equip_misc/+13_Priority.jpeg" />
</a>
<br />
<br />
<br />

<h2 id="bb_guns">BB / BC / BBV Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/BB_BC_BBV_Guns.jpeg"
  title="BB / BC / BBV Guns"
>
  <img class="equip_misc_img" src="images/equip_misc/BB_BC_BBV_Guns.jpeg" />
</a>
<br />
<br />

<h2 id="bb_auxiliary">BB / BC / BBV Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/BB_BC_BBV_Auxes.jpeg"
  title="BB / BC / BBV Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/BB_BC_BBV_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="main_fleet_secondary_guns">Main Fleet Secondary Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Main_Fleet_Aux_Guns.jpeg"
  title="Main Fleet Secondary Guns"
>
  <img
    class="equip_misc_img"
    src="images/equip_misc/Main_Fleet_Aux_Guns.jpeg"
  />
</a>
<br />
<br />

<h2 id="cb_guns">CB Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/CB_Guns.jpeg"
  title="CB Guns"
>
  <img class="equip_misc_img" src="images/equip_misc/CB_Guns.jpeg" />
</a>
<br />
<br />

<h2 id="ca_guns">CA Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/CA_Guns.jpeg"
  title="CA Guns"
>
  <img class="equip_misc_img" src="images/equip_misc/CA_Guns.jpeg" />
</a>
<br />
<br />

<h2 id="cl_guns">CL Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/CL_Guns.jpeg"
  title="CL Guns"
>
  <img class="equip_misc_img" src="images/equip_misc/CL_Guns.jpeg" />
</a>
<br />
<br />

<h2 id="cruiser_auxiliary">CB / CA / CL Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/CB_CA_CL_Auxes.jpeg"
  title="CB / CA / CL Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/CB_CA_CL_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="dd_guns">DD Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/DD_Guns.jpeg"
  title="DD Guns"
>
  <img class="equip_misc_img" src="images/equip_misc/DD_Guns.jpeg" />
</a>
<br />
<br />

<h2 id="dd_auxiliary">DD Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/DD_Auxes.jpeg"
  title="DD Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/DD_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="surface_torpedoes">Surface Torpedoes</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Surface_Torpedoes.jpeg"
  title="Surface Torpedoes"
>
  <img class="equip_misc_img" src="images/equip_misc/Surface_Torpedoes.jpeg" />
</a>
<br />
<br />

<h2 id="aa_guns">AA Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/AA_Guns.jpeg"
  title="AA Guns"
>
  <img class="equip_misc_img" src="images/equip_misc/AA_Guns.jpeg" />
</a>
<br />
<br />

<h2 id="aa_range_chart">AA Range Chart</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/AA_Range_Chart.jpeg"
  title="AA Range Chart"
>
  <img class="equip_misc_img" src="images/equip_misc/AA_Range_Chart.jpeg" />
</a>
<br />
<br />

<h2 id="fighters">Fighters</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Fighters.jpeg"
  title="Fighters"
>
  <img class="equip_misc_img" src="images/equip_misc/Fighters.jpeg" />
</a>
<br />
<br />

<h2 id="dive_bombers">Dive Bombers</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Dive_Bombers.jpeg"
  title="Dive Bombers"
>
  <img class="equip_misc_img" src="images/equip_misc/Dive_Bombers.jpeg" />
</a>
<br />
<br />

<h2 id="torpedo_bombers">Torpedo Bombers</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Torpedo_Bombers.jpeg"
  title="Torpedo Bombers"
>
  <img class="equip_misc_img" src="images/equip_misc/Torpedo_Bombers.jpeg" />
</a>
<br />
<br />

<h2 id="cv_auxiliary">CV / CVL Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/CV_CVL_Auxes.jpeg"
  title="CV / CVL Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/CV_CVL_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="ss_torpedo">SS Torpedoes</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/SS_Torpedoes.jpeg"
  title="SS Torpedo"
>
  <img class="equip_misc_img" src="images/equip_misc/SS_Torpedoes.jpeg" />
</a>
<br />
<br />

<h2 id="ss_auxiliary">SS Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/SS_Auxes.jpeg"
  title="SS Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/SS_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="ix_guns">IX Guns</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/IX_Guns.jpeg"
  title="IX Guns"
>
  <img class="equip_misc_img" src="images/equip_misc/IX_Guns.jpeg" />
</a>
<br />
<br />

<h2 id="ix_auxiliary">IX Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/IX_Auxes.jpeg"
  title="IX Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/IX_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="recon_planes">Recon Planes</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Recon_Planes.jpeg"
  title="Recon Planes"
>
  <img class="equip_misc_img" src="images/equip_misc/Recon_Planes.jpeg" />
</a>
<br />
<br />

<h2 id="asw_equipment">ASW Equipment</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/ASW_Equips.jpeg"
  title="ASW Equipment"
>
  <img class="equip_misc_img" src="images/equip_misc/ASW_Equips.jpeg" />
</a>
<br />
<br />

<h2 id="ae_auxiliary">AE Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/AE_Auxes.jpeg"
  title="AE Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/AE_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="ar_auxiliary">AR Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/AR_Auxes.jpeg"
  title="AR Auxiliary"
>
  <img class="equip_misc_img" src="images/equip_misc/AR_Auxes.jpeg" />
</a>
<br />
<br />

<h2 id="cosmetic_auxiliary">Cosmetic Auxiliary</h2>
<hr class="custom-hr" />
<a
  rel="noopener noreferrer"
  target="_blank"
  href="images/equip_misc/Cosmetic_Decorative_Auxes.jpeg"
  title="Cosmetic Auxiliary"
>
  <img
    class="equip_misc_img"
    src="images/equip_misc/Cosmetic_Decorative_Auxes.jpeg"
  />
</a>
<br />
<br />
