html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #121212;
}

#main {
  padding-top: 5px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: medium;
  margin-bottom: 1rem;
}

span p {
  color: black;
  font-family: inherit;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 1.2em;
}

/* headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: hsla(0, 0%, 100%, 0.9);
}

.h1,
.h2,
h1,
h2 {
  font-size: min(2rem, calc(1.325rem + 0.9vw)) !important;
}

.h3,
h3 {
  font-size: max(1.3rem + 0.6vw, 1.17em);
}

h5 {
  font-size: 1.25rem;
}

h4.farming_guide {
  color: hsla(0, 0%, 100%, 0.6) !important;
  text-decoration: underline;
}

h6,
.h6 {
  font-size: 0.75rem;
  color: hsla(0, 0%, 100%, 0.9);
  text-transform: uppercase;
}

/* links */
a.none {
  color: auto;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

/* lists */
ul {
  font-size: large;
  padding-left: 2rem;
  display: block;
  list-style-type: disc;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* padding-inline-start: 40px; */
  unicode-bidi: isolate;
}

li {
  color: hsla(0, 0%, 100%, 0.9);
}

:root {
  --level-1: disc; /* Solid circle */
  --level-2: circle; /* Empty circle */
  --level-3: square; /* Square */
}

ul {
  list-style-type: var(--level-1);
}

ul ul {
  list-style-type: var(--level-2);
}

ul ul ul {
  list-style-type: var(--level-3);
}

/* containers */
.container {
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
}

.guide-content-body {
  background-color: #1b1b1b;
  border: 2px solid #252525;
}

/* For Table Links */
a.in_hover:link {
  color: #0047ab;
  background-color: transparent;
  text-decoration: none;
}

a.in_hover:visited {
  color: #0047ab;
  background-color: transparent;
  text-decoration: none;
}

a.in_hover:hover {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

a.in_hover:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

/* icon formatting */
.icon {
  overflow: hidden;
  margin: 6px auto;
  width: 60px;
  padding: 2px;
  box-shadow: 0 10px 25px 0 #000;
  height: auto;
}

img {
  max-width: 100%;
  border-radius: 0.2857rem;
  vertical-align: middle;
  border-style: none;
}

/* Tables */

/* .table {
  width: 100%;
  margin-bottom: 1rem;
  caption-side: bottom;
  border-collapse: collapse;
  background-color: #212529;
}

.table-responsive {
  overflow-x: auto;
}

.table > :not(caption) > * > * {
  color: #fff;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0px 1px;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0px;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.border-secondary {
  border-color: rgba(108, 117, 125, 1) !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit !important;
  border-style: solid !important;
}

table.width_one {
  min-width: 1150px !important;
}

table.width_two {
  min-width: 576px !important;
}

td {
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
  border-collapse: collapse;
  font-size: 14px;
  word-wrap: break-word;
  overflow: hidden;
}

td.mark {
  font-size: xx-large;
  font-weight: 500;
  color: black;
}

td.found {
  background-color: palegreen;
}

td.not_found {
  background-color: lightcoral;
}

td.rng {
  background-color: lemonchiffon;
}


td.found:hover {
  background-color: #52b352;
  color: black;
}

td.not_found:hover {
  color: black;
  background-color: #c75e5e;
}

td.rng:hover {
  color: black;
  background-color: rgba(199, 193, 136, 0.9);
}

td span.location {
  display: none;
}

span.location > p {
  margin: 0 !important;
}

td span.normal {
  display: inline;
}

td:hover span.location {
  display: inline;
}

td:hover span.normal {
  display: none;
}

th.ship_table_limiter {
  min-width: 125px;
}

th.ss_table_limiter {
  min-width: 150px;
  width: 45%;
}

th.support_table_limiter {
  min-width: 150px;
  width: 30%;
}

th.support_type_limiter {
  min-width: 50px;
  width: 10%;
}

tr > td.support_type {
  vertical-align: middle !important;
}

tr > td.ss_type {
  vertical-align: middle !important;
  justify-content: center !important;
}

table.ship_table > tr.ship_table_head {
  vertical-align: middle !important;
}

table.ship_table > tr.ship_table_content > td {
  vertical-align: top !important;
}

td > p {
  margin-bottom: 0;
}

tbody.table-group-divider {
  --custom_color: 248, 249, 250;
  --custom_opacity: 1;

  border-top-color: rgba(var(--custom_color), var(--custom_opacity));
}

table.tool_table {
  padding: 5px;
}

td > h5.custom-margin {
  margin: 10px !important;
}
*/

/* Item Rarities */
.rarity-5 {
  background: linear-gradient(
    120deg,
    #fbffca,
    #baffbf,
    #a7efff,
    #ffabff
  ) !important;
}

.rarity-4 {
  background-color: #ee9 !important;
  border-color: #ee9 !important;
}

.rarity-3 {
  background-color: #c4adff !important;
  border-color: #c4adff !important;
}

.rarity-2 {
  background-color: #9fe8ff !important;
  border-color: #9fe8ff !important;
}

.rarity-1 {
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}

/* skill names */
.red_skill {
  background-color: #fba5bb;
  color: black;
  font-weight: bold;
  padding: 1px;
}

.yellow_skill {
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 1px;
}

.blue_skill {
  background-color: #aaeeff;
  color: black;
  font-weight: bold;
  padding: 1px;
}

/* Images */

.icon {
  overflow: hidden;
  margin: 6px auto;
  width: 60px;
  padding: 2px;
  box-shadow: 0 10px 25px 0 #000;
  height: auto;
}

img {
  max-width: 100%;
  border-radius: 0.2857rem;
  vertical-align: middle;
  border-style: none;
}

/* Carousel */

.carousel-caption > p {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 3px #555;
  background-color: rgba(0, 0, 0, 0.7);
  color: hsla(0, 0%, 100%, 0.6);
}

.carousel-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: min(20px, 1%);
  border-radius: 20px;
}

.carousel-item > img {
  object-fit: cover;
  max-height: 400px;
  width: auto !important;
  margin: auto;
}

.carousel-slide {
  margin: 21px 0;
}

.carousel {
  position: relative;
}

/* iframe */

iframe.custom-iframe {
  width: 100%;
  height: 1000px !important;
  overflow-x: scroll;
  border: none;
  zoom: 0.75;
  margin-bottom: 2em;
}

/* Shop Priority */

.shop-column-heading-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.priority-heading-filler {
  width: 25px;
  border: 1px solid grey;
  height: 25px;
  margin: none;
}

.shop-column-heading-1 {
  border: 1px solid grey;
  text-align: center;
  width: 301.5px;
  height: 25px;
  margin: none;
}

.shop-column-heading-2 {
  border: 1px solid grey;
  text-align: center;
  width: 603px;
  height: 25px;
  margin: none;
}

.shop-column-heading-3 {
  border: 1px solid grey;
  text-align: center;
  width: 904px;
  height: 25px;
  margin: none;
}

.overarcing-container {
  width: 100%;
  margin: 2px;
}

.shop {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
  position: relative;
  align-self: center;
}

.shop-priority-message {
  /* border: 1px solid grey; */
  border-right: 0;
  writing-mode: vertical-lr;
  text-align: center;
  width: 25px;
  margin-right: 5px;
}

.larger-font > p {
  font-size: 25px !important;
}

.large-font > p {
  font-size: 20px !important;
}

.shop-priority-message > p {
  margin: 0;
}

.shop-container {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 568px) {
    justify-content: flex-start;
  }

  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  /* border: 1px solid grey; */
  width: 100%;
}

.shop-item-cell {
  /* external cell borders */
  border: 1px solid grey;
  width: 300px;
  padding: 0px;
  /* overflow: auto; */
}

/* .shop-item-cell-filler {
  external cell borders
  border: 1px solid grey;
  width: 300px;
  height: 174px;
  padding: 0px;
} */

.shop-item-cell > * b {
  color: hsla(0, 0%, 100%, 0.9);
}

.shop-item-heading {
  margin: 0 !important;
  /* border between heading and rest of content */
  border-bottom: 1px solid grey;
  overflow: hidden;
  height: 22px;
}

.shop-item-heading > p {
  margin: 1px !important;
  text-align: center;
  font-size: 13px;
}

.shop-item-body {
  display: flex;
  align-items: flex-start;
  width: 300px;
  overflow: hidden;
}

.shop-item-images {
  width: 75px;
  height: 150px;
  /* border between images & desc */
  border-right: 1px solid grey;
}

.shop-item-description {
  width: 225px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  height: 150px;
  overflow: hidden;
}

.shop-item-description > p {
  margin: 0 !important;
  font-size: 11px;
}

.shop-item-description > .desc-buff {
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.shop-item-icon {
  overflow: hidden;
  width: 75px;
  padding: 2px;
  height: 75px;
  /* border between icon and faction */
  border-bottom: 1px solid grey;
}

.shop-item-icon-faction {
  overflow: hidden;
  max-width: 75px;
  padding: 2px;
  max-height: 75px;
  width: auto;
  height: auto;
  margin: auto !important;
  text-align: center;
}

.shop-item-icon-faction > img {
  width: 60px;
  max-height: 75px;
}

.shop-item-icon-faction-de {
  overflow: hidden;
  width: 75px;
  padding: 2px;
  margin-top: 10px;
  height: 75px;
  margin: auto !important;
  text-align: center;
}

.high-priority {
  border: 2px solid red !important;
}

.shop-item-cell.high-priority {
  /* external cell borders */
  border: 2px solid red;

  .shop-item-icon {
    border-bottom: 2px solid red;
  }

  .shop-item-images {
    border-right: 2px solid red;
  }

  .shop-item-heading {
    border-bottom: 2px solid red;
  }
}

.niche-priority {
  border: 2px solid palegreen !important;
}

.shop-item-cell.niche-priority {
  /* external cell borders */
  border: 2px solid palegreen;

  .shop-item-icon {
    border-bottom: 2px solid palegreen;
  }

  .shop-item-images {
    border-right: 2px solid palegreen;
  }

  .shop-item-heading {
    border-bottom: 2px solid palegreen;
  }
}
