---
import HR from "@components/_common/HR.astro"
import { Navbar } from "@components/_common/Navbar"
import WikiLink from "@components/_common/WikiLink.astro"
import ChangelogContent2024 from "@components/Changelog/ChangelogContent2024.astro"
import GuidePageLayout from "@layouts/GuidePageLayout.astro"
---

<GuidePageLayout title="Changelog" metaDescription="ECGC Changelog">
  <Navbar activePage="changelog" client:load />

  <div
    class="container guide-content-body custom-sidenav-shift custom-sidenav-collapse mx-auto max-w-[100%] md:max-w-[75%]"
  >
    <div class="text-center mt-[10px]">
      <h1>
        <b>
          <u>Changelog (2024)</u>
        </b>
      </h1>
      <p>
        &#60;&#60; <a
          rel="noopener noreferrer"
          target="_self"
          href="changelog2023">2023</a
        >
      </p>
    </div>
    <ChangelogContent2024 />
  </div>
</GuidePageLayout>
