---
import GuidePageLayout from "@layouts/guides/GuidePageLayout.astro"

import Changelog2023Content from "@components/Changelog/Changelog2023Content.astro"
---

<GuidePageLayout
  title="Changelog"
  activePage="changelog"
  metaDescription="ECGC Changelog"
>
  <div
    class="container guide-content-body custom-sidenav-shift custom-sidenav-collapse mx-auto max-w-[100%] md:max-w-[75%]"
  >
    <Changelog2023Content />
  </div>
</GuidePageLayout>
