---
import GuidePageLayout from "@layouts/guides/GuidePageLayout.astro"

import { Navbar } from "@components/_common/Navbar"
import Changelog2024Content from "@components/Changelog/Changelog2024Content.astro"
---

<GuidePageLayout title="Changelog" metaDescription="ECGC Changelog">
  <Navbar activePage="changelog" client:load />

  <div
    class="container guide-content-body custom-sidenav-shift custom-sidenav-collapse mx-auto max-w-[100%] md:max-w-[75%]"
  >
    <Changelog2024Content />
  </div>
</GuidePageLayout>
