---
import { Navbar } from "@components/_common/Navbar"

import GuidePageLayout from "@layouts/GuidePageLayout.astro"
---

<GuidePageLayout title="Changelog" metaDescription="ECGC Changelog">
  <Navbar activePage={"changelog"} client:load />

  <div>
    <p>TESTING YAY</p>
  </div>
</GuidePageLayout>
