---
import GuidePageLayout from "@layouts/GuidePageLayout.astro"

import { Navbar } from "@components/_common/Navbar"
import Changelog2023Content from "@components/Changelog/Changelog2023Content.astro"
---

<GuidePageLayout title="Changelog" metaDescription="ECGC Changelog">
  <Navbar activePage="changelog" client:load />
  <div
    class="container guide-content-body custom-sidenav-shift custom-sidenav-collapse mx-auto max-w-[100%] md:max-w-[75%]"
  >
    <div class="text-center mt-[10px]">
      <h1>
        <b>
          <u>Changelog (2023)</u>
        </b>
      </h1>
      <p>
        <i>
          For the Equipment & Misc. Changelog (2023), click
          <a
            href="https://docs.google.com/document/d/1rCAE3qqTF1iCnVaMj5PLpwk2urz4grkuLQKWRChBAGE/edit"
            rel="noopener noreferrer"
            target="_blank">here</a
          >.
        </i>
      </p>
      <p>
        <a rel="noopener noreferrer" target="_self" href="changelog">2024</a> &#62;&#62;
      </p>
    </div>
    <Changelog2023Content />
  </div>
</GuidePageLayout>
