---
import { HR } from "@/components/_common/HR"
import WikiLink from "@/components/_common/WikiLink.astro"

import { ToolTableFilters } from "./ToolTableFilters"
---

<h2 id="wiki">Azur Lane English Wiki</h2>
<HR />
<p class="!text-2xl">
  THE <b><WikiLink page="">AZUR LANE ENGLISH WIKI</WikiLink></b> IS AN AMAZING RESOURCE.
  PLEASE CHECK IT OUT.
</p>

<p>
  There are a lot of "guides" that are more suitable for the Wiki than for a
  guide website. If the content you are looking for is not controversial or
  debatable, chances are it is already on the Wiki. If it isn't, submit feedback
  on the Wiki.
</p>
<br />

<h2 id="tool_list">Tool List</h2>
<HR />
<p class="!mb-5">
  Helpful Tools to enhance your Azur Lane Experience! The "last updated" date on
  the guide heading does NOT correlate to the last time any of these tools were
  updated.
</p>
<p>
  <i
    >Most of these tools are unaffilated with ECGC. To contact their respective
    authors, go to their websites.</i
  >
</p>

<ToolTableFilters client:visible={{ rootMargin: "50px" }} />
<br />

<h2 id="tool_making">Tool Making</h2>
<HR />

<p class="!text-2xl">
  Do NOT spam the wiki with requests to get game data. You will get banned by
  the Wiki's DDOS protection. Use one (or more) of the "data" resources listed
  above to get game data.
</p>

<p>
  If you want to make your own tool, you can use any of the resources in the
  section above. If your tool is related to dataming, I recommend using MrLar's <a
    href="https://github.com/MrLar/AzurLaneData"
    target="_blank"
    rel="noopener noreferrer">Azur Lane Data Github</a
  > as a starting point. This project has it as a git submodule! Not all tools are
  dataming related; you can make a cosmetic or visually appealing tool that barely
  touches game code, like AzurLaneDle.
</p>

<p>
  Next, you have to consider whether it should be standalone, or whether it
  should be on the Azur Lane English Wiki. As I stated before, if you are not
  giving your personal opinion, and the content is not controversial / debatable
  by the community, then it should go on the Wiki. Notice how in my guides, I
  rarely explain game mechanics, if at all. Instead, I add game mechanic
  explanations on the Wiki directly, then redirect people to the Wiki in my
  guide. If you are scared about adding content to the Wiki, don't be! I (and
  the rest of the Wiki team) are available to help.
</p>

<p>
  If you decide to make something that is not going on the Wiki, you are on your
  own. The Internet and AI exist as resources, and you can go research how to
  proceed from there. Please do not make AI slop guides, and please do not
  blantantly rip-off existing guides without permission. I got my start taking
  over existing guides from other people with their blessings, and I hope that
  any guide revivals in the future are done with the same respect to their
  original creators.
</p>

<p>
  Once your tool is finished, message me a link to it. If I judge it to be good
  enough, I will add it to this website. Otherwise, keep trying!
</p>

<p>
  No matter what the tool is (even if it's a competitor to me!), I welcome all
  new commanders to the Azur Lane technical community with open arms. Consider
  joining the Wiki if you are interested! Happy datamining commanders!
</p>

<br />
