---
import GuideHeading from "@/components/_common/GuideHeading.astro"
import Changelog2023Content from "@/components/Changelog/Changelog2023Content.astro"
import GuidePageLayout from "@/layouts/guides/GuidePageLayout.astro"

const year = 2023
---

<GuidePageLayout
  title="Changelog"
  activePage="changelog"
  canonical="changelog/2023"
  tocID={`Changelog${year}`}
  metaUrl="changelog2023"
  metaDescription="ECGC Changelog"
>
  <GuideHeading title={`Changelog (${year})`}>
    <p>
      &gt;&gt; <a href="/changelog/2024">2024</a>
    </p>
  </GuideHeading>

  <Changelog2023Content />
</GuidePageLayout>
