---
import GuideHeading from "@components/_common/GuideHeading.astro"
import Changelog2024Content from "@components/Changelog/Changelog2024Content.astro"
import GuidePageLayout from "@layouts/guides/GuidePageLayout.astro"

const year = 2024
---

<GuidePageLayout
  title="Changelog"
  activePage="changelog"
  canonical="changelog/2024"
  tocID={`Changelog${year}`}
  metaUrl="changelog2024"
  metaDescription="ECGC Changelog"
>
  <GuideHeading title={`Changelog (${year})`}>
    <p>
      &lt;&lt; <a href="/changelog/2023">2023</a>
      | <a href="/changelog/2025">2025</a> &gt;&gt;
    </p>
  </GuideHeading>

  <Changelog2024Content />
</GuidePageLayout>
