---
import GuideHeading from "@components/_common/GuideHeading.astro"
import Changelog2025Content from "@components/Changelog/Changelog2025Content.astro"
import GuidePageLayout from "@layouts/guides/GuidePageLayout.astro"

const year = 2025
---

<GuidePageLayout
  title="Changelog"
  activePage="changelog"
  canonical="changelog/2025"
  tocID={`Changelog${year}`}
  metaUrl="changelog"
  metaDescription="ECGC Changelog"
>
  <GuideHeading title={`Changelog (${year})`}>
    <p>
      &lt;&lt; <a href="/changelog/2024">2024</a>
    </p>
  </GuideHeading>

  <Changelog2025Content />
</GuidePageLayout>
