---
const { isRetrofit, ship } = Astro.props
---

<!-- <style>
  a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
</style> -->
<a
  rel='noopener noreferrer'
  target='_blank'
  href={`https://azurlane.koumakan.jp/wiki/${ship.replace(" ", "_")}`}
  title={ship}
>
  {ship}
  {isRetrofit ? "(Retrofit)" : ""}
</a>
