---
// no imports for now
---

<h2 id="introduction">Introduction</h2>
<hr class="custom-hr" />
<p>
  Here are some good ships players can get extremely early on in Azur Lane!
  <p>
    <p class="fw-bold fst-italic">
      See the <a href="/test_ecgc_2/shop_priority" target="_self" rel="noopener noreferrer"
        >Shop Priority Guide</a
      > for more detailed shop information.
    </p>
    <br />
  </p>
</p>
