---
import { HR } from "@components/_common/HR"
import { ImageCarousel } from "@components/_common/ImageCarousel"

//images

import FleetTechWindow from "@assets/research_guide/fleet_technology_window.png"
import FactionTechWindow from "@assets/research_guide/faction_tech_window.png"
import PointThresholds from "./PointThresholds.astro"
---

<h2 id="introduction">Introduction</h2>
<hr class="custom-hr" />
<p>
  <i>
    Main Article:
    <a
      rel="noopener noreferrer"
      target="_blank"
      href="https://azurlane.koumakan.jp/wiki/Fleet_Technology"
      title="Fleet Technology">Fleet Technology</a
    >
  </i>
</p>
<br />

<ImageCarousel
  client:visible={{ rootMargin: "100px" }}
  data={[
    {
      src: FleetTechWindow.src,
      caption: "Fleet Technology UI",
      alt: "Fleet Technology UI",
    },
    {
      src: FactionTechWindow.src,
      caption: "Faction Technology UI",
      alt: "Faction Technology UI",
    },
  ]}
/>
<br />

<p>
  The
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://azurlane.koumakan.jp/wiki/Fleet_Technology"
    title="Fleet Technology">Fleet Technology</a
  >
  article on the Wiki explains the mechanics very well, please check it out
</p>
<br />

<h2 id="acquisition">Acquiring Tech Points</h2>
<hr class="custom-hr" />
<p>
  <i>
    See also:
    <a
      rel="noopener noreferrer"
      target="_blank"
      href="https://azurlane.koumakan.jp/wiki/Fleet_Technology#Tech_points"
      title="Tech Points">Tech Points</a
    >
  </i>
</p>

<p>
  Getting tech points for some factions (<a
    rel="noopener noreferrer"
    target="_blank"
    href="https://azurlane.koumakan.jp/wiki/Eagle_Union"
    title="Eagle Union">Eagle Union</a
  >,
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://azurlane.koumakan.jp/wiki/Sakura_Empire"
    title="Sakura Empire">Sakura Empire</a
  >) are very easy. For others, its challenging. Below are the easiest ways you
  can get tech points for obscure factions.
</p>
<br />

<h2 id="kms">Iron Blood (KMS)</h2>
<hr class="custom-hr" />
<br />

<h3>Point Thresholds:</h3>
<PointThresholds faction="KMS" />
<br />
