---
import { HR } from "@components/_common/HR"
import { ImageCarousel } from "@components/_common/ImageCarousel"
import { FleetTechTable } from "./FleetTechTable"

//images

import FleetTechWindow from "@assets/research_guide/fleet_technology_window.png"
import FactionTechWindow from "@assets/research_guide/faction_tech_window.png"
import PointThresholds from "./PointThresholds.astro"
---

<h2 id="introduction">Introduction</h2>
<hr class="custom-hr" />
<p>
  <i>
    Main Article:
    <a
      rel="noopener noreferrer"
      target="_blank"
      href="https://azurlane.koumakan.jp/wiki/Fleet_Technology"
      title="Fleet Technology">Fleet Technology</a
    >
  </i>
</p>
<br />

<ImageCarousel
  client:visible={{ rootMargin: "100px" }}
  data={[
    {
      src: FleetTechWindow.src,
      caption: "Fleet Technology UI",
      alt: "Fleet Technology UI",
    },
    {
      src: FactionTechWindow.src,
      caption: "Faction Technology UI",
      alt: "Faction Technology UI",
    },
  ]}
/>
<br />

<p>
  The
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://azurlane.koumakan.jp/wiki/Fleet_Technology"
    title="Fleet Technology">Fleet Technology</a
  >
  article on the Wiki explains the mechanics very well, please check it out
</p>
<br />

<h2 id="acquisition">Acquiring Tech Points</h2>
<hr class="custom-hr" />
<p>
  <i>
    See also:
    <a
      rel="noopener noreferrer"
      target="_blank"
      href="https://azurlane.koumakan.jp/wiki/Fleet_Technology#Tech_points"
      title="Tech Points">Tech Points</a
    >
  </i>
</p>

<p>
  Getting tech points for some factions (<a
    rel="noopener noreferrer"
    target="_blank"
    href="https://azurlane.koumakan.jp/wiki/Eagle_Union"
    title="Eagle Union">Eagle Union</a
  >,
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://azurlane.koumakan.jp/wiki/Sakura_Empire"
    title="Sakura Empire">Sakura Empire</a
  >) are very easy. For others, its challenging. Below are the easiest ways you
  can get tech points for obscure factions.
</p>
<br />

<h2 id="kms">Iron Blood (KMS)</h2>
<hr class="custom-hr" />
<br />

<h3>Point Thresholds:</h3>
<PointThresholds faction="KMS" />
<br />

<p class="font-bold text-[1.25rem]">Notes:</p>
<ul>
  <li>
    <p>
      <i
        ><a
          rel="noopener noreferrer"
          target="_blank"
          href="https://azurlane.koumakan.jp/wiki/Z46"
          title="Z46">Z46</a
        >
        is <u>guaranteed</u> after your 60th
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://azurlane.koumakan.jp/wiki/Divergent_Chessboard_Rerun"
          title="Divergent Chessboard Rerun">Divergent Chessboard</a
        >
        D4 clear.</i
      >
    </p>
  </li>
  <li>
    <p>
      <i
        ><a
          rel="noopener noreferrer"
          target="_blank"
          href="https://azurlane.koumakan.jp/wiki/U-37"
          title="U-37">U-37</a
        >
        is <u>guaranteed</u> after your 60th
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://azurlane.koumakan.jp/wiki/Inverted Orthant"
          title="Inverted Orthant">Inverted Orthant</a
        >
        D3 clear.</i
      >
    </p>
  </li>
  <li>
    <p>
      <i
        >You get <b>804 Tech Points TOTAL</b> following this table (excluding
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://azurlane.koumakan.jp/wiki/Research#Shipyard"
          title="Shipyard">Shipyard</a
        >).</i
      >
    </p>
  </li>
</ul>
<br />

<FleetTechTable faction="KMS" />
<br />
